---
const {link, title} = Astro.props
---

<a href={link} target="_blank" rel="noopenner noreferrer" class="">
    <div class="active:scale-95 hover:rounded-2xl transition- duration-[400ms] rounded-lg h-[15.25rem] min-w-[14.25rem] bg-p text-white flex items-end p-6 relative">
        <div><h3 class=" text-2xl font-semibold">{title}</h3></div>    
    </div>
</a>