---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Forms">
    <div class="p-8 md:p-12">
        <div class="">
            <div class="bg-r h-[6px] w-full self-center mb-6">
                <div class="bg-p h-[6px] w-16 ml-16"></div>
            </div>
        </div>
        <h1 class="font-bold text-center text-5xl md:text-7xl md:text-left lg:text-8xl">
            Forms 
        </h1>
    </div>
    <div class="p-8 lg:px-[6rem] pt-0">
        <div class=" grid grid-cols-1 w-full gap-4 md:grid-cols-2 xl:grid-cols-3 text-2xl">
            <a href='https://docs.google.com/spreadsheets/d/13R9rHEto70_CeFNH8e5Sybj5oYaz0WOBl_lY1an8P2U/edit#gid=2145528018' target="_blank" rel="noopener norefferer"><div class="hover:bg-p hover:text-g transition-all duration-200 bg-g min-h-[6rem] px-8 text-white flex justify-between items-center">
                <div><h2 class="lg:text-3xl font-bold">Mess Menu</h2></div>
            </div></a>
            <a href='https://docs.google.com/forms/d/e/1FAIpQLSd6KXqqf9No4WhMKWm2qxkWcj2QtWlpLrQBM2FvrYc7dyHSdw/viewform' target="_blank" rel="noopener norefferer"> <div class="hover:bg-p hover:text-g transition-all  duration-200 bg-g min-h-[6rem] px-8 text-white flex justify-between items-center">
                 <div><h2 class="lg:text-3xl font-bold ">Report Event</h2></div>
             </div></a>
            <a href='https://docs.google.com/forms/d/e/1FAIpQLSfJhh0oRnRz6sY2JayEEi6M6mNhfRxsGxWOFkB2JMIqffeQew/viewform' target="_blank" rel="noopener norefferer"><div class="hover:bg-p hover:text-g transition-all  duration-200 bg-g min-h-[6rem] px-8 text-white flex justify-between items-center">
                <div><h2 class="lg:text-3xl font-bold ">Achievements Form</h2></div>
            </div></a>
            <a href='https://docs.google.com/spreadsheets/d/1mLrLAf6Z0Z4G2AsAzrK7TXJ_DZAPXb_3n6V_jKTx1wc/edit?usp=drivesdk' target="_blank" rel="noopener norefferer"><div class="hover:bg-p hover:text-g transition-all  duration-200 bg-g min-h-[6rem] px-8 text-white flex justify-between items-center">
                <div><h2 class="lg:text-3xl font-bold ">Transport Schedule</h2></div>
            </div></a>
            <a href='https://docs.google.com/forms/d/e/1FAIpQLSdW4jUr-B6J_PoKAnY2YZ8PjG23xAsLlWFyrbQPyxPhspzm6g/viewform' target="_blank" rel="noopener norefferer"><div class="hover:bg-p hover:text-g transition-all  duration-200 bg-g min-h-[6rem] px-8 text-white flex justify-between items-center">
                <div><h2 class="lg:text-3xl font-bold ">Mess Grievance Form</h2></div>
            </div></a>
            
        </div>
    </div>
</Layout>