---
import Layout from "../layouts/Layout.astro";
import { Button } from "../components/Navbar";
---

<Layout title="More" gutter={true} footerActive={false}>
  <div
    class="bg-white w-full text-xl h-full flex justify-center items-center min-h-[calc(100vh-5rem)]"
  >
    <ul class="text-center">
      <li class="pt-3 menu-items">
        <a href="/documents"><Button>Documents</Button></a>
      </li>
      <li class="pt-3 menu-items">
        <a href="/forms"><Button>Forms</Button></a>
      </li>
      <li class="pt-3 menu-items">
        <a
          href="https://researchers-iith.netlify.app/"
          target="_blank"
          rel="noopener noreferrer"
          ><Button>Research Scholars</Button>
        </a>
      </li>
    </ul>
  </div>
</Layout>
